/*Universal Styles*/

html {
  font-size: 16px;
}
body {
  font-family: 'Helvetica', "Arial", "sans-serif";
  /*font-family: "Josefin sans", "Helvetica", "sans-serif";*/
  /*background-color: #dfdfdf;*/
  /*background-color: #3f7361;*/
  background-color: #204056;*/
}

@media only screen and (max-width: 560px) {
  body {
    background-color: white;
  }
}

h1 {
  font-size: 2.2rem;
  /*font-weight: bold;*/
  text-transform: uppercase;
  font-family: "Josefin sans", "Helvetica", "sans-serif";
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 0.85rem;
  font-family: "Helvetica";
  line-height: 1.5;
}
.container {
  max-width: 1800px;
  display: flex;
  margin: 0.5 1.5rem;
  background-color: white;
  margin: 1.5rem auto;
}

@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1024px;
  }
}


.black {
  color: black;
}

.grey {
  color: grey;
}

 a:hover {
  background-color: #bddbd0;
}
 a:active {
  background-color: #bddbd0;
}


/*Header*/
header {
  background-color: #204056;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin: 0.5 auto;
  background-color: white;
}

.header .logo {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 1.5rem;
}

.logo img {
  padding-right: 0.2rem;
}

}
.menu ul {
  list-style: none;
  }

.menu li {
  display: inline;
  margin-right: 1.5rem;
}

.menu a {
  color: black;
  font-size: 1rem;
  margin-left: 1rem;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 860px) {

  body {
    background-color: white;
  }
  header {
    background-color: white;
    height: 4rem;
  }
}

@media only screen and (max-width: 560px) {


  header .logo span {
    display: none;
  }

  .menu ul{
    display: none;
  }

  .menu .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    width: auto;
  }

  .mobile-menu li {
    padding: 0 1rem;
}
}

/*Banner*/

.banner {
  margin-top: 7rem;
}

 #banner {
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.image-container {
  display: block;
  margin: 2rem 1.5rem;
  width: 60%;
}

.image-container img {
  display: block;
  padding: 0 0;
  width: 100%;
  height: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 1.5rem;
  padding: 4rem 0;
  width: 40%;
  height: auto;
  line-height: 1.2;
}

.content-container h1 {
  margin-bottom: 1rem;
  color: black;
  text-align: center;
}

.content-container h3 {
  font-size: 1rem;
  color: #3c3c3c;
  padding-left: 0.5rem;
  text-align: center;
  }

.button {
  display: block;
  width: 45%;
  background-color: #09100e;
  padding: 0.5rem .75rem;
  margin-top: 1rem;
  text-align: center;
}

.button span {
  color: white;
  font-size: 1rem;
}

.button span:hover {
  color: #bddbd0;
}



@media only screen and (max-width: 860px) {

  #banner {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex: 1 1;
    margin: 1rem auto;
  }

  .image-container {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .content-container {
    width: 90%;
    height: auto;
    margin: 1rem 2rem;
  }

  .button {
    margin-top: 0.75rem;
  }

  .content-container h2 {
    margin-bottom: 1.5rem;
  }
}

/* Information section */


#information {
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

 .image-container-main {
  display: block;
  width: 60%;
  margin: 2rem 1.5rem;
}

.image-container-main img {
  width: 100%;
  height: auto;
}

.content-main {
  display: block;
  width: 90%;
  padding: 2rem 0.5rem;
  line-height: 1.2;
  }
.content-main p {
    padding: 1.5rem 0rem;
  }

.content-main span {
    font-size: 0.75rem;
  }

.information-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 2rem;
}

.column-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1rem solid white;
  background-color: #d1d7db;
  margin-right: 1.5rem;
}

 #guest  {
  background-color: #a4afb7;
}


.image-container-small {
  display: block;
  width: 35%;
  height: auto;
  margin: 1rem;
}

.image-container-small img {
  width: 100%;
}
.small-screen {
  display: none;
}

.information-text {
  width: 65%;
  height: auto;
  margin: 0.5rem;
  line-height: 1.5;
  }

.information-text a{
  font-size: 0.75rem;
  font-style: italic;
  color: black;
  border-bottom: 1px dotted black;
}



@media only screen and (max-width: 860px) {

  #information {
    flex-direction: column;
  }
  .image-container-main {
    width: 100%;
  }
  .content-main h1{
    text-align: center;
  }

  .information-column {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 560px) {


  .image-container-main {
    display: none;
  }

  .information-column {
    width: 100%;
  }

  .column-item {
    display: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .image-container-small {
    width: 100%;
    height: auto;
    margin: 1rem;
  }

  .wide-screen {
    display: none;
  }

  .small-screen {
    display: block;
  }

  .information-text {
    width: 100%;
    height: auto;
    margin: 0 2rem;
    padding-bottom: 2rem;
    line-height: 1.5;
  }

}

/*Courses*/

#courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.courses-container {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 1 1;
  width: auto;
  height: auto;
  padding: 2rem 0;
  margin: 2rem 2.5rem;
  background-color: #d1d7db;
  }

.headline {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  /*background-color: #0d0d0d;*/
  background-color: #09100e;
  color: white;
  }

.headline:hover {
    color: #bddbd0;
  }

.course {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 1rem 1rem;
}

.image-container-course {
  width: 100%;
  height: auto;
  background-color: black;
  opacity: 0.9;
}

.image-container-course img{
  width: 100%;
}

.description {
  background-color: white;
  line-height: 1.2;
  padding-bottom: 0.5rem;
}

.description p {
  padding: 0.5rem 1rem;
}

.description h3 {
  padding: 0.5rem 1rem;
  color: white;
  background-color: #09100e;
  display: block;
  font-weight: normal;
}

.description h3:hover {
  color: #bddbd0;
}

.description span {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

@media only screen and (max-width: 860px) {

  .headline {
  width: 100%;
  }
  .courses-container {
    display: flex;
    width: 90%;
    margin: auto;
    background-color: #d1d7db;
  }
  .course {
    width: 45%;
    margin: auto;
  }
  .description {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 560px) {

  .courses {
  background-color: white;
}

  .headline h2 {
    padding: 1rem 1rem;
    background-color: white;
    color: black;
  }

  .courses-container {
    flex-direction: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;;
    background-color: white;
  }

  .course {
    display: inline;
    width: 100%;
    height: auto;
    margin: 0.5rem 0.5rem;
  }

  .image-container-course {
    display: none;
  }

  .description span {
    display: none;
  }

  .description p {
    display: none;
  }

  .description h3 {
    display: block;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 90%;
    text-align: left;
  }

  .description h3:hover {
    color: #bddbd0;
  }
}


/*Thesis exhibit*/

#thesis {
flex-direction: column;
justify-content: center;
align-items: center;
}

.thesis-container {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 flex: 1;
 width: 100%;

}

.video-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  flex-wrap: wrap;
  flex: 1 1;
  height: auto;
  margin: 2rem 1.5rem;
}
.image-container-video video {
  width: 100%;
  height: auto;
}

.image-container-video {
 display: block;
 width: 100%;
 margin: 0rem 1.5rem;
}

.content-video {
  display: block;
  width: 100%;
  margin: 1.5rem;
  line-height: 1.2;
}

.content-video p {
  padding: 0.5rem 0;
}

@media only screen and (max-width: 860px) {
  .thesis-container {
    flex-direction: column;
    }
    .video-main {
      width: 90%;
      height: auto;
      margin: auto;
    }
  }

@media only screen and (max-width: 560px) {

#thesis .information-column  {
  display: none;
}

#thesis .content-video {
  display: none;
}
}
/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}
.menu-footer {
  margin: 1rem 1.5rem;
}

.menu-footer li {
  display: inline;
}

.menu-footer a, i {
  padding: 0rem 0.5rem;
}

@media only screen and (max-width: 560px) {
 .menu-footer li {
   display: none;
}
}
